* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(appolinary-kalashnikova-WYGhTLym344-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #00d950;
  text-transform: uppercase;
  font-size: 15px;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #00d950;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.cover {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.cover h1 {
  font-size: 90px;
  margin-top: 80px;
  margin-bottom: 20px;
  mix-blend-mode: multiply;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #00d950;
}

.cover p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #00d950;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #333;
}

h1 {
  color: #fff;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.section {
  background-color: #fff;
  border: 5px solid #00d950;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 10px;
}

.section h2 {
  margin: 5px 0;
  font-size: 30px;
}

.footer ul {
  list-style-type: none;
  margin-top: 10px;
}
.footer {
  background-color: #000;
  color: #00d950;
  display: flex;
}
.footer div {
  align-items: center;
  margin: 20px;
  width: 100%;
  font-size: x-small;
}

.footer li {
  margin-top: 8px;
  color: #fff;
}
a:link {
  color: #fff;
  text-decoration: none;
}

.thumbnail {
  width: 300px;
  height: 300px;
  margin: 40px;
  border-radius: 15px;
}

.content {
  align-items: center;
  display: flex;
}
.content p {
  font-size: larger;
}

.content button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #000000;
  background: transparent;
  color: #000000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.content span {
  background: #00d950;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.content button:hover span {
  width: 100%;
}

.content button:hover {
  background-color: #00d950;
}

.nobanner {
  background-color: #00d950;
}

.nobanner .section {
  border-color: #000;
}

@media screen and (max-width: 700px) {
  .content {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .content .thumbnail {
    width: 80%;
  }
}
